NETWORK=
ID=
CARDANO_NODE_ID=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db-sync-${NETWORK}-${CARDANO_NODE_ID}
POSTGRES_USER=
POSTGRES_PASSWORD=
KOIOS_TINY_PORT=
KOIOS_TINY_RAPIDOC_PORT=
KOIOS_TINY_OGMIOS_PROXY_PORT=
OGMIOS_HOST=
OGMIOS_PORT=
